.container {
  margin-top: 40px;
  color: beige;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#form {
  margin-top: 20px;
}

#reset{
float: right;
margin-top:20px;
cursor: pointer;
}

#dropdown{
  margin: 10px !important;
  padding: 10px;
}